<div class="jumbotron jumbotron-fluid bg-success text-white" id="t0">
    <div class="container">
      <h1  style="text-align:center">Este es about Fellas</h1>
     
    </div>
  </div>

  
  <%- contentFor('mycss') %>
<section class="hero1">
	<div class="hero-content">
	<h2>All About Us</h2>
	<p>Mi pagina web</p>
	<a href="/contact" class="btn btn-lg btn-primary">  Escribenos un mensaje </a>

	</div>
</section>
<%- contentFor('body') %>


<div class="jumbotron jumbotron-fluid bg-success text-white" id="t0">
    <div class="container">
      <h1  style="text-align:center">Sobre nosotros, la pagina web fue hecha por: <b>Armenta Peña José Francisco </b></h1>
    </div>
  </div>

