<div class="jumbotron jumbotron-fluid bg-success text-white" id="t0">
    <div class="container">
      <h1  style="text-align:center">Gracias  <%- name %>, tu RFC es: <b><%- impRFC %></b>
      </h1>
        <center>
      <p class="lead">
        <a class="btn btn-primary btn-lg"  href="./" role="button">Regresar</a>
      </p>
        </center>
    </div>
  </div>